
@{
    ViewBag.Title = "Perguntas Frequentes - Quero Trocar";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

@section Styles {
    @Styles.Render("~/StoreContent/magnific/css")
    @Styles.Render("~/StoreContent/jquery-bxslider/css")
}

<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <div class="container main-container ">
                <div class="col-xs-12 col-sm-12">
                    <h1 class="text-left border-title"> Perguntas Frequentes </h1>
                    <div class="w100 clearfix">
                        <h3> O “Quero Trocar! “ intermedeia as trocas de produtos entre os usuários da plataforma? </h3>
                        <p>
                            Não, as trocas deverão ser realizadas diretamente entre os usuários. Recomendamos que os usuários se previnam totalmente antes de trocar um produto com outro usuário. Conversando bastante com os usuários (diretamente pelo site), observando o perfil do usuário, analisando as trocas realizadas e os comentários de outros usuários que trocaram com o mesmo. Além de agendar os encontros para trocas (caso sejam realizadas presencialmente) em lugares públicos e com maior segurança possível, para que não haja transtornos para ambas as partes.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3> Quais categorias de produtos são possíveis trocar no “Quero Trocar! “? </h3>
                        <p>
                            O “Quero Trocar! “ busca abranger todas as categorias possíveis de produtos, para que todos os usuários se sintam “abraçados” e que seus desejos sejam atendidos, inclusive pedimos aos usuários que caso sintam falta de alguma categoria, nos enviem um e-mail, que analisaremos e faremos o possível para implementá-la rapidamente.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3>   Como eu faço para poder começar a trocar? </h3>
                        <p>
                            É simples, a partir da tela inicial, clique em “Cadastre-se” no canto superior direito de sua tela, informe todos os dados corretamente e clique em “Cadastrar”. Após isso, enviaremos um e-mail, confirme-o e seja bem-vindo a maior plataforma de trocas que você já acessou.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3>   O “Quero Trocar! ” assume responsabilidades pelas transações realizadas pela plataforma? </h3>
                        <p>
                            Não, os usuários ao realizarem trocas, são inteiramente responsáveis pelas concretizações das mesmas. Porém, fornecemos diversas possibilidades para que você saia satisfeito com o seu produto, como a obrigatoriedade do usuário ao cadastrar um produto, colocar no mínimo uma imagem do mesmo, e também uma forma de todos os usuários avaliarem os perfis um dos outros, e assim, verificarem quantas pessoas ficaram satisfeitas trocando seus produtos com estes usuários. Vale ressaltar, que sugerimos o máximo de segurança possível para você realizar suas trocas presencialmente, e assim concretizar suas trocas de forma efetiva.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3>   Qual é a vantagem em usar o “Quero Trocar! “? </h3>
                        <p>
                            Existem diversas vantagens que podem ser citadas, primeiramente o objetivo principal da plataforma, é fornecer uma maior comodidade, e abrir novos horizontes para as pessoas que possuem produtos que não usam, e não sabem mais o que fazer com eles, fornecendo-os um ambiente fácil e rápido para negociar suas trocas. Sabendo que muitas vezes as pessoas sequer consideram a possibilidade de trocar seus produtos “inúteis”, ou que não conhecem formas para fazer isso, o “Quero Trocar! “ chegou para facilitar tudo isto, disponibilizando formas para que você encontre o produto que necessita rapidamente, ou até mesmo cadastrar um produto próprio, e esperar que as ofertas rapidamente cheguem até você.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3>   Como eu cadastro um produto? </h3>
                        <p>
                            Ao efetuar o seu login, disponibilizamos uma área com seus produtos, ao clicar em “Adicionar”, você será redirecionado para uma tela de cadastro de produtos, lá você encontrará todos os campos necessários para descrever seu produto (sendo o mais realista possível), e obrigatoriamente, deverá fornecer imagens do seu produto, para que as pessoas interessadas possam analisar o mesmo. Após isto, é só clicar em “Cadastrar Produtos” e esperar pelas inúmeras propostas que virão.
                        </p>
                        <hr>
                    </div>
                    <div class="w100 clearfix">
                        <h3>   O “Quero Trocar! “ trabalha com a venda de produtos também? </h3>
                        <p>
                            Definitivamente não. A venda de produtos foge totalmente do conceito da equipe, onde o que buscamos realizar é a proximidade dos usuários com este ambiente tão “desconhecido” no Brasil, que são as trocas. 
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
