@{
    ViewBag.Title = "Verificar E-mail";
}
<div class="container main-container headerOffset">
    <div class="container">
        <div class="row">
            <h2>@ViewBag.Title.</h2>
            <p class="text-info">
                Verifique seu e-mail e confirme seu endereço.
            </p>
            <p class="text-danger">
                DEMO: Caso o e-mail não chegue clique neste link: <a href="@ViewBag.Link">link</a>
            </p>
        </div>
    </div>
</div>
