<div class="post-content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a href="#">
                    <img class="media-object img-circle" src="@Url.Content(ViewBag.Usuario.ImagemCaminho)" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                </a>
            </div>
            <h4><a href="#" style="text-decoration:none;"><strong> Fulano</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> about 15 hours ago</i></a></small></small></h4>            
            <div class="post-content">
                resposta
                @*@ViewBag.RespostaDescricao*@
            </div>
            <hr>
            <div>
                <div class="pull-right btn-group-xs">
                    <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                    <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                    <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                    <a href="@Url.Action("EditarResposta", new { @Controller = "Produtos", @id = 1 })" data-target="#edRespostaModal" data-toggle="modal" class="btn btn-info"> <span> Editar Resposta </span> </a>
                </div>
                <div class="pull-left">
                    <p class="text-muted" style="margin-left:5px;"><i class="fa fa-globe" aria-hidden="true"></i> Public</p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<hr>