<!-- Modal -->
<div class="modal fade" id="CadastrarImagem" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title-site text-center">Imagem do Perfil</h3>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="form-group">
                    <input id="imagem" name="imagem" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="@Url.Action("NovaImagem", "Usuarios")">
                </div>
            </div>
        </div>
    </div>
</div>
